body {
  background-image: url('/bg1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: #fff;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2E2D4E;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: #8B8AE1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    border: 1px solid #48456C;
    border-radius: 30px;
    height: 40px;
    background-color: #363653;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2E2D4E;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card p {
  color: #fff;
  font-weight: bold;
}

.card p span {
  font-weight: normal;
}

.card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.trash-button img {
  transition: transform 0.2s ease, filter 0.2s ease;
}

.trash-button:hover img {
  transform: scale(1.2);
  filter: brightness(0.7);
}

.pop-alert {
  width: 270px;
  padding: 35px;
  color: #fffffe;
  background-color: #232946;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: left;
  position: fixed;
  bottom: 20px;
  right: 20px;

}

.pop-alert span {
  letter-spacing: 0.1cap;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  padding: 5px
}